.impacthead1{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 160px;
    align-items: center;
}
.impacthead2{
    width: 70%;
    padding-right: 50px;
    text-align: justify;
    font-size: 30px;
}
.lp-element .lp-pom-button{
    display: block;
    border-radius: 7px;
    width: 290px;
    height: 53px;
    background: rgba(39, 39, 39, 1);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serif-title, .serif-title span {
    font-family: garamond-premier-pro, Georgia, serif !important;
    font-weight: normal !important;
}
div#lp-pom-text-20{
    padding-left: 125px;
    margin: 50px 0;
}